@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-image: url(/public/img/wall.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;

}